@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="banner">
        <div class="banner-header">
            <h1>League plaza</h1>
        </div>
        <div class="banner-image">
            <img src="./images/home-banner.jpg" alt="busy plaza of a fantasy town" />
        </div>
        @if (!User.Identity?.IsAuthenticated ?? true)
        {
            <div class="banner-text">
                <p>Best place to start your journey.</p>
                <p><a class="banner-link" asp-area="Identity" asp-page="/Account/Register">Join</a> thousands of adventurers.</p>
                <p>Already a member? <a class="banner-link" asp-area="Identity" asp-page="/Account/Login">Enter</a> throught the portal.</p>
            </div>
        }
    </div>

    <div class="container">
        <h3>Latest quests</h3>
        <div class="quest-cards-container">
            <div class="quest-card">
                <div class="quest-image">
                    <img src="./images/quest/grey-wolf.jpg" alt="quest image" />
                </div>
                <div class="quest-info">
                    <h6>Kill the grey wolf</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <div>
                        <span><i class="fa-solid fa-calendar-days"></i>08.02.2025</span>
                        <span><i class="fa-solid fa-shield"></i>Monster hunt</span>
                        <span><i class="fa-solid fa-coins"></i>35</span>
                    </div>
                    <a asp-controller="Quest" asp-action="ViewQuest" asp-route-id="2">View Quest</a>
                </div>
            </div>
            <div class="quest-card">
                <div class="quest-image">
                    <img src="./images/quest/grey-wolf.jpg" alt="quest image" />
                </div>
                <div class="quest-info">
                    <h6>Kill the grey wolf</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <div>
                        <span><i class="fa-solid fa-calendar-days"></i>08.02.2025</span>
                        <span><i class="fa-solid fa-shield"></i>Monster hunt</span>
                        <span><i class="fa-solid fa-coins"></i>35</span>
                    </div>
                    <a asp-controller="Quest" asp-action="ViewQuest" asp-route-id="2">View Quest</a>
                </div>
            </div><div class="quest-card">
                <div class="quest-image">
                    <img src="./images/quest/grey-wolf.jpg" alt="quest image" />
                </div>
                <div class="quest-info">
                    <h6>Kill the grey wolf</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <div>
                        <span><i class="fa-solid fa-calendar-days"></i>08.02.2025</span>
                        <span><i class="fa-solid fa-shield"></i>Monster hunt</span>
                        <span><i class="fa-solid fa-coins"></i>35</span>
                    </div>
                    <a asp-controller="Quest" asp-action="ViewQuest" asp-route-id="2">View Quest</a>
                </div>
            </div>
        </div>
        <div class="view-all-link"><a asp-controller="Quest" asp-action="Index">View All</a></div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
}