@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="banner">
        <div class="banner-header">
            <h1>League plaza</h1>
        </div>
        <div class="banner-image">
            <img src="./images/home-banner.jpg" alt="busy plaza of a fantasy town" />
        </div>
        @if (!User.Identity?.IsAuthenticated ?? true)
        {
            <div class="banner-text">
                <p>Best place to start your journey.</p>
                <p><a class="banner-link" asp-area="Identity" asp-page="/Account/Register">Join</a> thousands of adventurers.</p>
                <p>Already a member? <a class="banner-link" asp-area="Identity" asp-page="/Account/Login">Enter</a> throught the portal.</p>
            </div>
        }
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
}