.banner {
    border: 1px solid black;
    max-width: 90%;
    margin: 0 auto 30px auto;
}

    .banner img {
        width: 100%;
    }

.banner-header,
.banner-text {
    text-align: center;
}

    .banner-header > h1 {
        text-transform: uppercase;
    }

.banner-image {
    display: flex;
}

.banner-link {
    font-weight: 700;
    font-style: italic;
}

    .banner-link:hover {
        color: red;
    }

.view-all-link {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

    .view-all-link > a {
        background-color: #9370DB;
        padding: 0.3rem 2.5rem;
        border: 0.5px solid black;
        border-radius: 15px;
    }

        .view-all-link > a:hover {
            background-color: #BA55D3;
            color: #F8F8FF;
        }

        .view-all-link > a:active {
            transform: scale(0.98);
        }

@media (min-width: 1200px) {
    .banner {
        max-width: 1200px;
    }
}
