.banner {
    max-width: 90%;
    margin: 0 auto 30px auto;
    position: relative;
}

    .banner img {
        width: 100%;
    }

.banner-header,
.banner-text {
    text-align: center;
}

    .banner-header > h1 {
        text-transform: uppercase;
    }

.banner-text {
    color: #9370DB;
}

    .banner-text > p:nth-child(2) {
        margin-bottom: 0.3rem;
    }

.banner-image {
    filter: brightness(65%);
    display: flex;
}

.banner-link {
    font-weight: 900;
    font-style: italic;
}

    .banner-link:hover {
        color: #9370DB;
    }

.view-all-link {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

    .view-all-link > a {
        background-color: #9370DB;
        padding: 0.3rem 2.5rem;
        border: 0.5px solid black;
        border-radius: 15px;
    }

        .view-all-link > a:hover {
            background-color: #BA55D3;
            color: #F8F8FF;
        }

        .view-all-link > a:active {
            transform: scale(0.98);
        }

@media (min-width: 601px) {
    .banner-text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #FFD700;
        text-shadow: 3px 3px 0px #333;
        z-index: 10;
    }

        .banner-text > p:nth-child(2) {
            margin-bottom: 1.5rem;
        }

    .banner-link {
        color: #DAA520;
    }
}

@media (min-width: 1200px) {
    .banner {
        max-width: 1200px;
    }

    .banner-text {
        font-size: 28px;
    }
}
