.banner {
    border: 1px solid black;
    max-width: 90%;
    margin: 0 auto;
}

    .banner img {
        width: 100%;
    }

.banner-header,
.banner-text {
    text-align: center;
}

    .banner-header > h1 {
        text-transform: uppercase;
    }

.banner-image {
    display: flex;
}

.banner-link {
    font-weight: 700;
    font-style: italic;
}

    .banner-link:hover {
        color: red;
    }

@media (min-width: 1200px) {
    .banner {
        max-width: 1200px;
    }
}
