@using LeaguePlaza.Core.Features.Mount.Models.ViewModels

@model MountsViewModel

<div class="container" data-page-name="all-mounts">
    <h1>Rent a Mount</h1>

    <partial name="~/Views/Shared/Mount/_MountControlls.cshtml" />
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/global/pagination.css" asp-append-version="true" />
}
