@using LeaguePlaza.Core.Features.Mount.Models.ViewModels

@model MountsViewModel

<div class="container" data-page-name="all-mounts">
    <h1>Rent a Mount</h1>

    <partial name="~/Views/Mount/Partials/_MountControlls.cshtml" />
    <div id="cards-and-pagination">
        <partial name="~/Views/Mount/Partials/_MountCardsContainerWithPagination.cshtml" model="@Model.ViewModel" />
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/mount/mount-cards-container.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global/controlls.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global/pagination.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/mount/filter-and-sort-mounts.js"></script>
}