@using LeaguePlaza.Core.Features.Quest.Models.ViewModels

@model AvailableQuestsViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/quest/quest-cards-container.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/quest/quest-controlls.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global/pagination.css" asp-append-version="true" />
}

<div class="container">
    <h1>All Quests</h1>

    <partial name="~/Views/Shared/Quest/_QuestControlls.cshtml" />
    <div id="cards-and-pagination">
        <partial name="~/Views/Shared/Quest/_QuestCardsContainer.cshtml" model="@Model.AvailableQuests" />
        <partial name="~/Views/Shared/_Pagination.cshtml" />
    </div>
</div>