@using LeaguePlaza.Core.Features.Quest.Models.ViewModels

@model AvailableQuestsViewModel

<div class="container">
    <h1>All Quests</h1>

    <partial name="~/Views/Shared/Quest/_QuestCardsContainer.cshtml" model="@Model.AvailableQuests"></partial>
</div>