@using LeaguePlaza.Common.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    @* TODO: Add SEO *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="logo-holder">
                <a asp-controller="Home" asp-action="Index">
                    <img src="https://www.dropbox.com/scl/fi/qpbsg5lcen63ldyecbf5m/league-logo.png?rlkey=7wag8lkd2r6nt1j2n2u3huboj&st=4yoez0r2&raw=1" alt="site logo" loading="lazy" />
                </a>
            </div>

            <div class="links-holder">
                <ul id="nav-links" class="nav-links">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Quest" asp-action="Index">Quests</a>
                    </li>
                    <li>
                        <a asp-controller="Quest" asp-action="MyQuests">My Quests</a>
                    </li>
                    @if (User.IsInRole(UserRoleConstants.Adventurer))
                    {
                        <li>
                            <a asp-controller="Mount" asp-action="Index">Mounts</a>
                        </li>
                        <li>
                            <a asp-controller="Mount" asp-action="MountRentHistory">Mount Rent History</a>
                        </li>
                    }
                </ul>

                <partial name="_LoginPartial" />

                <div id="hamburger-menu">
                    <span><i id="menu-open" class="fa-solid fa-bars"></i></span>
                    <span><i id="menu-close" class="fa-solid fa-x display-none"></i></span>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="main-footer">
            <div class="footer-links">
                <div>
                    <div class="footer-heading">Dummy links</div>
                    <ul>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="footer-heading">Dummy links</div>
                    <ul>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                        <li>
                            <a href="#">Dummy link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-links">
                <div class="footer-heading">Follow Us</div>
                <ul>
                    <li>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            © 2025 - The League - All Rights Reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/navigation.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
