<div class="controlls-holder">
    <div class="filters-holder">
        <details>
            <summary>
                Filters
            </summary>
            <div class="filters-choice-holder">
                <div>
                    <p>
                        Status
                    </p>
                    <ul id="status-filters">
                        <li>
                            <input id="posted" name="posted" type="checkbox" data-value="Posted" />
                            <label for="posted">Posted</label>
                        </li>
                        <li>
                            <input id="accepted" name="accepted" type="checkbox" data-value="Accepted" />
                            <label for="accepted">Accepted</label>
                        </li>
                        <li>
                            <input id="completed" name="completed" type="checkbox" data-value="Completed" />
                            <label for="completed">Completed</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <p>
                        Type
                    </p>
                    <ul id="type-filters">
                        <li>
                            <input id="monster-hunt" name="monster-hunt" type="checkbox" data-value="MonsterHunt" />
                            <label for="monster-hunt">Monster Hunt</label>
                        </li>
                        <li>
                            <input id="escort" name="escort" type="checkbox" data-value="Escort" />
                            <label for="escort">Escort</label>
                        </li>
                        <li>
                            <input id="gathering" name="gathering" type="checkbox" data-value="Gathering" />
                            <label for="gathering">Gathering</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="filters-button-holder">
                <button id="apply-filters" type="button">Apply filters</button>
                <button id="reset-filters" type="button">Reset filters</button>
            </div>
        </details>
    </div>
    <div class="sort-search-holder">
        <div>
            <select id="sort-by">
                @* TODO: values should not be ints, but string so they are more descriptive *@
                <option value="" disabled selected>Sort by</option>
                <option value="1">Date New</option>
                <option value="2">Date Old</option>
                <option value="3">Reward Most</option>
                <option value="4">Reward Least</option>
            </select>
        </div>
        <div>
            <form id="search-quest" class="search-quest-form" novalidate>
                <label for="search">Search</label>
                <input id="search" type="text" name="search" placeholder="Search" />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
    <span class="display-none filters-message-js"></span>
</div>