.logo-holder {
    height: 60px;
}

    .logo-holder img {
        height: 50%;
        margin-top: 15px;
    }

.main-nav {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.links-holder {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
}

    .nav-links.open {
        display: block;
    }

    .nav-links > li {
        border-bottom: 1px solid black;
    }

    .nav-links > :nth-child(1) {
        border-top: 1px solid black;
    }

    .nav-links > li > a {
        display: block;
        padding: 0.8rem;
    }

.identity-links {
    display: flex;
    gap: 10px;
}

@media (min-width: 769px) {
    .links-holder {
        flex: 1 0 auto;
    }

    .nav-links {
        display: flex;
        position: relative;
        top: 0;
        justify-content: center;
    }

        .nav-links > li {
            border: none;
        }

        .nav-links > :nth-child(1) {
            border: none;
        }

    #hamburger-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .main-nav {
        max-width: 1200px;
        padding: 0 60px;
    }
}
