@using LeaguePlaza.Core.Features.Admin.Models.ViewModels

@model MountAdminViewModel

<div class="container">
    <h1>Manage mounts</h1>
    <div id="form-holder">
        <form></form>
    </div>
    <div id="cards-and-pagination">
        <partial name="~/Admin/Views/Partials/_MountAdminCardsContainerWithPagination.cshtml" model="@Model.ViewModel" />
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/admin/admin.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/admin/admin.js"></script>
}