@using LeaguePlaza.Core.Features.Admin.Models.ViewModels

@model MountAdminViewModel

<div class="container" data-page-name="mount-admin">
    <h1>Manage mounts</h1>
    <div id="form-holder">
        <form id="create-mount" class="admin-form">
            <div>
                <label for="name">Name</label>
                <input id="name" type="text" name="name" maxlength="50" required />
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" rows="4" name="description" maxlength="500"></textarea>
            </div>
            <div>
                <label for="rent-price">Rent Price</label>
                <input id="rent-price" type="number" step="0.01" name="rent-price" placeholder="0.00" required />
            </div>
            <div>
                <label for="mount-type">Type</label>
                <select id="mount-type" name="mount-type" required>
                    <option value="" disabled selected>Select mount type</option>
                    <option value="0">Ground</option>
                    <option value="1">Flying</option>
                    <option value="2">Aquatic</option>
                </select>
            </div>
            <div>
                <label for="image">Image</label>
                <input id="image" type="file" name="image" placeholder="Upload an image" accept="image/*">
            </div>
            <div>
                <button id="create-mount-btn" type="submit">Create</button>
                <button id="update-mount-btn" type="button" disabled>Update</button>
            </div>
            <span class="display-none form-message-js"></span>
        </form>
    </div>
    <div id="cards-and-pagination">
        <partial name="~/Areas/Admin/Views/Partials/_MountAdminCardsContainerWithPagination.cshtml" model="@Model" />
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/admin/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global/pagination.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/admin/admin.js"></script>
}