.cart-items-information {
    border: 1px solid black;
    border: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 12px;
}

    .cart-items-information > div:first-child {
        border-bottom: 1px dotted black;
    }

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-image {
    max-width: 20px;
}

.cart-item-name {
    flex: 0 0 15%;
}

    .cart-item-name > a:hover {
        text-decoration: underline;
    }

.cart-total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cart-items-button {
    display: flex;
    justify-content: end;
}

.order-information-buttons,
.submit-order-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.3rem 0.7rem;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #9370DB;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    button:hover {
        background-color: #BA55D3;
        color: #F8F8FF;
    }

    button:active {
        transform: scale(0.98);
    }

.cart-order-information,
.submit-order-information {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    font-size: 12px;
    margin-bottom: 1rem;
    background-color: #FFF8DC;
    color: #8B4513;
}

    .cart-order-information > div {
        flex: 1 0 100%;
        display: flex;
        flex-wrap: wrap;
    }

        .cart-order-information > div > input,
        .cart-order-information > div > textarea {
            flex: 1 0 100%;
        }

        .cart-order-information > div > input,
        .cart-order-information > div > textarea {
            padding: 0.2rem;
            border-radius: 5px;
            border: 1px solid black;
            font-size: 12px;
        }

    .submit-order-information > div {
        flex: 1 0 100%;
        display: flex;
        justify-content: flex-start;
    }

        .submit-order-information > div:last-child {
            flex-wrap: wrap;
        }

        .submit-order-information > div > span:first-child {
            font-weight: 600;
            flex: 0 0 50%;
        }

        .submit-order-information > div:last-child > span:first-child {
            font-weight: 600;
            flex: 1 0 100%;
        }

.order-submitted-message,
.thank-you-message {
    font-size: 14px;
    margin: 1rem 0;
}

@media (min-width: 601px) {
    .cart-items-information {
        font-size: 16px;
    }

    .cart-item-image {
        max-width: 40px;
    }

    .cart-item-name {
        flex: 0 0 25%;
    }

    button {
        font-size: 16px;
    }

    .cart-order-information,
    .submit-order-information {
        font-size: 16px;
    }

        .cart-order-information > div > input,
        .cart-order-information > div > textarea {
            font-size: 16px;
        }

    .order-submitted-message,
    .thank-you-message {
        font-size: 16px;
    }
}
