@using LeaguePlaza.Core.Features.Order.Models.ViewModels

@model CartViewModel

<div class="container container-js" data-page-name="view-cart">
    @if (Model.CartItems != null && Model.CartItems.Any())
    {
        <partial name="~/Views/Order/Partials/_CartItems.cshtml" model="@Model" />
    }
    else
    {
        <div class="empty-cart-message">Your cart is empty</div>
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/order/shopping-cart.css" asp-append-version="true" />
}

@section Scripts
{
    <script src="~/js/order/shopping-cart.js" asp-append-version="true"></script>
}