.quest-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto 30px auto;
}

.quest-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.quest-image {
    display: flex;
}

.quest-info {
    display: flex;
    flex-wrap: wrap;
}

    .quest-info > * {
        flex: 1 1 100%;
    }

    .quest-info > h6,
    .quest-info > a {
        text-align: center;
        padding: 1rem 0;
    }

    .quest-info > h6,
    .quest-info > p,
    .quest-info > div.quest-metadata {
        border-bottom: 1px solid black;
    }

    .quest-info > p {
        padding: 0.7rem 0.3rem;
    }

    .quest-info > div {
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

        .quest-info > div.quest-metadata > * {
            font-size: 14px;
            padding: 0.7rem 0.3rem;
            flex: 1 1 auto;
        }

        .quest-info > div.quest-metadata > :nth-child(1),
        .quest-info > div.quest-metadata > :nth-child(2) {
            border-right: 1px solid black;
        }

        .quest-info > div.quest-extra-buttons > button {
            font-size: 16px;
            padding: 0.7rem 0.3rem;
            flex: 1 1 auto;
            border: none;
            border-top: 1px solid black;
        }

        .quest-info > div.quest-extra-buttons > :nth-child(2) {
            border-left: 1px solid black;
        }

        .quest-info i {
            margin-right: 0.2rem;
        }

@media (min-width: 601px) {
    .quest-card {
        flex: 0 0 calc((100% - 2rem) / 2)
    }
}

@media (min-width: 769px) {
    .quest-card {
        flex: 0 0 calc((100% - 4rem) / 3)
    }
}